@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bogotá<br />
    Calle ## ## - ##<br />
    <abbr title="Phone">Tel:</abbr>
    #######
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:btorresal@gmail.com">btorresal@gmail.com</a><br />
    <strong>Marketing:</strong>   <a href="mailto:btorresal@gmail.com">btorresal@gmail.com</a>
</address>